<div class="flex-grow-1 mt-2 me-9 me-md-0">
  <span class="text-gray-600 fw-semibold fs-3 mb-6 d-block">
    <i>"Ngôn ngữ là cửa sổ tới thế giới. <br />
    <span class="text-success">Học tiếng Nhật </span>để mở rộng tầm nhìn."</i>
  </span>
</div>
<img src="<%= asset_path("media/illustrations/sigma-1/4.png") %>" class="h-175px me-15" alt="credit-card"/>