<!DOCTYPE html>
<html lang="vi">
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
    <link rel="stylesheet" href="https://luyenkanji.com/css/plugins.bundle.css"/>
    <link rel="stylesheet" href="https://luyenkanji.com/css/style.bundle.css"/>
	</head>
	<body id="kt_body" class="app-blank">
		<div class="d-flex flex-column flex-root" id="kt_app_root">
			<div class="d-flex flex-column flex-column-fluid">
				<div class="scroll-y flex-column-fluid px-10 py-10" style="background-color:#D5D9E2; --kt-scrollbar-color: #d9d0cc; --kt-scrollbar-hover-color: #d9d0cc">
					<style>html,body { padding:0; margin:0; font-family: Inter, Helvetica, "sans-serif"; } a:hover { color: #009ef7; }</style>
					<div id="#kt_app_body_content" style="background-color:#D5D9E2; font-family:Arial,Helvetica,sans-serif; line-height: 1.5; min-height: 100%; font-weight: normal; font-size: 15px; color: #2F3044; margin:0; padding:1px; width:100%;">
						<div style="background-color:#ffffff; padding: 45px 0 34px 0; border-radius: 24px; margin:40px auto; max-width: 600px;">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse">
								<tbody>
									<tr>
										<td align="center" valign="center" style="text-align:center; padding-bottom: 10px">
											<div style="text-align:center; margin:0 60px 34px 60px">
												<div style="margin-bottom:10px">
													<a href="https://luyenkanji.com" rel="noopener" target="_blank">
														<img alt="Logo" src="https://luyenkanji.com/images/icons/email/logo.png" style="height: 25px" />
													</a>
												</div>
												<div style="margin-bottom:15px">
													<img alt="Logo" src="https://luyenkanji.com/images/icons/email/icon-positive-vote-4.png" />
												</div>
												<div style="font-size: 14px; font-weight: 500; margin-bottom: 40px; font-family:Arial,Helvetica,sans-serif;">
													<p style="margin-bottom:9px; color:#181C32; font-size: 22px; font-weight:700">Nâng Cấp Thành Công</p>
													<p style="margin-bottom:2px; color:#7E8299">Chúc bạn học kanji tốt hơn với ứng dụng của mình</p>
												</div>
												<div style="text-align:start; font-size: 13px; font-weight: 500; margin-bottom: 27px; font-family:Arial,Helvetica,sans-serif;">
													<p style="margin-bottom:9px; color:#181C32; font-size: 18px; font-weight:600">Chào <%= @full_name %>,</p>
													<p style="margin-bottom:2px; color:#5E6278">Cảm ơn bạn đã tin tưởng và sử dụng hệ thống,</p>
													<p style="margin-bottom:2px; color:#5E6278">Tài khoản của bạn đã được nâng cấp lên gói advanced</p>
													<p style="margin-bottom:2px; color:#5E6278; margin-bottom:13px">Hãy bắt đầu học Kanji cùng mình nào.</p>
													<p style="margin-bottom:2px; color:#5E6278">Mình có ra video thường xuyên về việc học Kanji mỗi ngày tại kênh tiktok:
													<span style="color:#50cd89; font-weight: 600">Thợ code học tiếng Nhật</span>
													<p style="margin-bottom:2px; color:#5E6278">Nếu có thắc mắc liên hệ với mình nhé
													<tr style="display: flex; justify-content: center; margin:0 60px 35px 60px">
														<td align="start" valign="start" style="padding-bottom: 10px;">
															<p style="color:#181C32; font-size: 16px; font-weight: 600; margin-bottom:13px">Các bước mình khuyên nên học với chữ hán</p>
															<div style="background: #F9F9F9; border-radius: 12px; padding:35px 30px">
																<div style="display:flex">
																	<div style="display: flex; justify-content: center; align-items: center; width:40px; height:40px; margin-right:13px">
																		<img alt="Logo" src="https://luyenkanji.com/images/icons/email/icon-polygon.png" />
																		<span style="position:absolute;color:#50cd89;font-size:16px;font-weight:600">1</span>
																	</div>
																	<div>
																		<div>
																			<a href="#" style="color:#181C32; font-size: 14px; font-weight: 600;font-family:Arial,Helvetica,sans-serif">Học trước bộ thủ</a>
																			<p style="color:#5E6278; font-size: 13px; font-weight: 500; padding-top:3px; margin:0;font-family:Arial,Helvetica,sans-serif">Với 214 bộ thủ cấu tạo nên mọi chữ hán, việc nắm chắc bộ thủ sẽ giúp bạn học chữ hán trở nên dễ dàng hơn</p>
																		</div>
																		<div class="separator separator-dashed" style="margin:17px 0 15px 0"></div>
																	</div>
																</div>
																<div style="display:flex">
																	<div style="display: flex; justify-content: center; align-items: center; width:40px; height:40px; margin-right:13px">
																		<img alt="Logo" src="https://luyenkanji.com/images/icons/email/icon-polygon.png" />
																		<span style="position:absolute;color:#50cd89;font-size:16px;font-weight:600">2</span>
																	</div>
																	<div>
																		<div>
																			<a href="#" style="color:#181C32; font-size: 14px; font-weight: 600;font-family:Arial,Helvetica,sans-serif">Học qua câu chuyện</a>
																			<p style="color:#5E6278; font-size: 13px; font-weight: 500; padding-top:3px; margin:0;font-family:Arial,Helvetica,sans-serif">Những câu chuyện vui sẽ giúp bạn nhớ lâu hơn bạn có thể sử dụng mục <b>Tìm Kanji</b> trong hệ thống</p>
																		</div>
																		<div class="separator separator-dashed" style="margin:17px 0 15px 0"></div>
																	</div>
																</div>
																<div style="display:flex">
																	<div style="display: flex; justify-content: center; align-items: center; width:40px; height:40px; margin-right:13px">
																		<img alt="Logo" src="https://luyenkanji.com/images/icons/email/icon-polygon.png" />
																		<span style="position:absolute;color:#50cd89;font-size:16px;font-weight:600">3</span>
																	</div>
																	<div>
																		<div>
																			<a href="#" style="color:#181C32; font-size: 14px; font-weight: 600;font-family:Arial,Helvetica,sans-serif">Luyện tập hằng ngày</a>
																			<p style="color:#5E6278; font-size: 13px; font-weight: 500; padding-top:3px; margin:0;font-family:Arial,Helvetica,sans-serif">Tải xuống bản PDF, hãy in thật nhiều bản và luyện viết với nó hằng ngày</p>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td align="center" valign="center" style="font-size: 13px; text-align:center; padding: 0 10px 10px 10px; font-weight: 500; color: #A1A5B7; font-family:Arial,Helvetica,sans-serif">
															<p style="color:#181C32; font-size: 16px; font-weight: 600; margin-bottom:9px">Chúc bạn có những trải nghiệm thú vị!</p>
															<p style="margin-bottom:2px">Liên hệ qua email: thocodehoctiengnhat@gmail.com</p>
															<p style="margin-bottom:4px">hoặc
															<p>Cách kênh mạng xã hội phía dưới</p>
														</td>
													</tr>
													<tr>
														<td align="center" valign="center" style="text-align:center; padding-bottom: 20px;">
															<a href="https://www.tiktok.com/@thocodehoctiengnhat" style="margin-right:10px">
																<img alt="Logo" src="https://luyenkanji.com/images/icons/email/tiktok.png" style="width: 24px;" />
															</a>
															<a href="https://www.facebook.com/thocodehoctiengnhat" style="margin-right:10px">
																<img alt="Logo" src="https://luyenkanji.com/images/icons/email/icon-facebook.png" />
															</a>
														</td>
													</tr>
													<tr>
														<td align="center" valign="center" style="font-size: 13px; padding:0 15px; text-align:center; font-weight: 500; color: #A1A5B7;font-family:Arial,Helvetica,sans-serif">
															<p>&copy; Copyright Thocodehoctiengnhat.</p>
														</td>
													</tr>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>